<div class="center">
<h1>Your Score!</h1>

<h3>translation: <%= @result[:translation] %></h3>

<h3> message: <%= @result[:message] %></h3>

<h3>score: <%= @result[:score] %></h3>

<%= link_to "try again", "game"%>

</div>




